{% extends 'blog/base.html' %}

{% block header %}
    <h1><a href="/cv" class="title">Radu Mircea-Andrei CV</a></h1>
{% endblock %}

{% block menu %}
    <a href="/" class="aButton"><button>Blog</button></a>
    <a href="/cv" class="aButton"><button class="currentButton">CV</button></a>
{% endblock %}

{% block content %}
    <h2  class="cvTitle">Projects And Achievements</h2>
    {% for project_or_achievement in projects_and_achievements %}
        <div class="list">
            <h3>{{ project_or_achievement.title }}</h3>
            <p>{{ project_or_achievement.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <h2 class="cvTitle">Technical Skills</h2>
    {% for technical_skill in technical_skills %}
        <div class="list">
            <p>{{ technical_skill.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <h2 class="cvTitle">Skills</h2>
    {% for skill in skills %}
        <div class="list">
            <p>{{ skill.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <h2 class="cvTitle">Awards</h2>
    {% for award in awards %}
        <div class="list">
            <p>{{ award.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <h2 class="cvTitle">Languages</h2>
    {% for language in languages %}
        <div class="list">
            <p>{{ language.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

{% endblock content %}